header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

body {
    background-color: rgb(0, 0, 0);
}

.titre {
    font-size: 40px;
    font-weight: 500;
    font-family: "EB Garamond", serif;
}

.titre span {
    color: rgba(255, 255, 255, 0.545);
}

ul {
    display: flex;
    position: fixed;
    left: 800px;
    font-family: "EB Garamond", serif;
}

ul li {
    padding: 8px 12px;
    list-style: none;
}

ul li a {
    color: rgba(255, 255, 255, 0.545);
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

ul li a:hover {
    color: rgba(125, 2, 2, 0.916);
    border-bottom: 2px solid
}

ul li:last-child a:hover {
    color: rgba(125, 2, 2, 0.916);
    border-bottom: none;
}

.presentation {
    padding: 5px 80px;
    color: rgba(255, 255, 255, 0.545);
    font-family: "EB Garamond", serif;
}

.presentation span {
    color: rgba(255, 255, 255, 0.545);
}

.presentation h2 {
    font-size: 50px;

}

.presentation p {
    max-width: 45%;
    margin: 20px 0;
}

.video {
    display: flex;
    position: absolute;
    top: 200px;
    left: 800px;
    position: fixed;
}

.argument {
    color: rgba(125, 2, 2, 0.916);
    font-family: "EB Garamond", serif;
}

/*----------------------------------------------------------------css pour la page lore-------------------------------------------------------*/

.lore {
    padding: 5px 80px;
    color: rgba(255, 255, 255, 0.545);
    font-family: "EB Garamond", serif;
}

.lore span {
    color: rgba(255, 255, 255, 0.545);
}

.lore h1 {
    font-size: 50px;

}

.lore p {
    max-width: 45%;
    margin: 20px 0;
}

.argument {
    color: rgba(125, 2, 2, 0.916);
    font-family: "EB Garamond", serif;
}

.image {
    display: flex;
    position: absolute;
    top: 200px;
    left: 650px;
    position: fixed;
}

/*-------------------------------------------------------------css pour les compétences-----------------------------------------------------*/

.compétences {
    padding: 5px 80px;
    color: rgba(255, 255, 255, 0.545);
    font-family: "EB Garamond", serif;
}

.compétences span {
    color: rgba(255, 255, 255, 0.545);
}

.compétences p {
    max-width: 45%;
    margin: 20px 0;
}

.img-passif {
    display: flex;
    position: absolute;
    top: 230px;
    left: 10px;
}

.video-passif {
    display: flex;
    position: absolute;
    top: 300px;
    left: 25px;
    width: 500px;
    height: 250px;
}

.img-q {
    display: flex;
    position: absolute;
    top: 610px;
    left: 10px;
}

.video-q {
    display: flex;
    position: absolute;
    top: 720px;
    left: 25px;
    width: 500px;
    height: 250px;
}

.img-w {
    display: flex;
    position: absolute;
    top: 1020px;
    left: 10px;
}

.video-w {
    display: flex;
    position: absolute;
    top: 1110px;
    left: 25px;
    width: 500px;
    height: 250px;
}

.img-e {
    display: flex;
    position: absolute;
    top: 1420px;
    left: 10px;
}

.video-e {
    display: flex;
    position: absolute;
    top: 1510px;
    left: 25px;
    width: 500px;
    height: 250px;
}

.img-r {
    display: flex;
    position: absolute;
    top: 1820px;
    left: 10px;
}

.video-r {
    display: flex;
    position: absolute;
    left: 25px;
    width: 500px;
    height: 250px;
}

.tp {
    display: flex;
    position: absolute;
    width: 100px;
    height: 120px;
    top: 500px;
    left: 1250px;
    position: fixed;
}

.top {
    display: flex;
    position: absolute;
    width: 100px;
    height: 120px;
    top: 250px;
    left: 1180px;
    position: fixed;
}

.smite {
    display: flex;
    position: absolute;
    width: 150px;
    height: 120px;
    top: 500px;
    left: 800px;
    position: fixed;
}

.jgl {
    display: flex;
    position: absolute;
    width: 100px;
    height: 120px;
    top: 250px;
    left: 900px;
    position: fixed;
}

.flash {
    display: flex;
    position: absolute;
    width: 100px;
    height: 120px;
    top: 500px;
    left: 950px;
    position: fixed;
}

.flash2 {
    display: flex;
    position: absolute;
    width: 100px;
    height: 120px;
    top: 500px;
    left: 1100px;
    position: fixed;
}

.exp-sum {
    display: flex;
    position: absolute;
    top: 420px;
    left: 850px;
    position: fixed;
    font-family: "EB Garamond", serif;
}

/*--------------------------------------------------------------clear jungle--------------------------------------------------------------------*/
.video-clear {
    display: flex;
    position: absolute;
    left: 100px;
    top: 60px;
    width: 1150px;
    height: 800px;
}

.explication{
    display: flex;
    position: absolute;
    justify-content: center;
    left: 100px;
    top: 800px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}

.description-clear {
    display: flex;
    position: absolute;
    left: 100px;
    top: 900px;
    font-family: "EB Garamond", serif;
    color: rgba(125, 2, 2, 0.916);
}

.carapateur{
    display: flex;
    position: absolute;
    left: 1050px;
    top: 750px;
    height: 250px;
}

.menu {
    display: flex;
    position: absolute;
    left: 800px;
    font-family: "EB Garamond", serif;
}

.menu li {
    padding: 8px 12px;
    list-style: none;
}

.menu li a {
    color: rgba(255, 255, 255, 0.545);
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

.menu li a:hover {
    color: rgba(125, 2, 2, 0.916);
    border-bottom: 2px solid
}

.menu li:last-child a:hover {
    color: rgba(125, 2, 2, 0.916);
    border-bottom: none;
}

/*-------------------------------------------------------------------skin------------------------------------------------------------------------*/

.spectral {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 150px;
    left: 100px;
}

.tx-spect{
    display: flex;
    position: absolute;
    top: 370px;
    left: 100px;
    color: rgba(255, 255, 255, 0.545);
}

.anglais {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 150px;
    left: 900px;
}

.tx-anglais{
    display: flex;
    position: absolute;
    top: 370px;
    left: 900px;
    color: rgba(255, 255, 255, 0.545);
}

.citrouille {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 500px;
    left: 100px;
}

.tx-citrouille{
    display: flex;
    position: absolute;
    top: 730px;
    left: 100px;
    color: rgba(255, 255, 255, 0.545);
}

.pirate {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 500px;
    left: 900px;
}

.tx-pirate{
    display: flex;
    position: absolute;
    top: 730px;
    left: 900px;
    color: rgba(255, 255, 255, 0.545);
}

.clown {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 850px;
    left: 100px;
}

.tx-clown{
    display: flex;
    position: absolute;
    top: 1080px;
    left: 100px;
    color: rgba(255, 255, 255, 0.545);
}

.noel {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 850px;
    left: 900px;
}

.tx-noel{
    display: flex;
    position: absolute;
    top: 1080px;
    left: 900px;
    color: rgba(255, 255, 255, 0.545);
}

.egypte {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 1200px;
    left: 100px;
}

.tx-egypte{
    display: flex;
    position: absolute;
    top: 1430px;
    left: 100px;
    color: rgba(255, 255, 255, 0.545);
}

.mecha {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 1200px;
    left: 900px;
}

.tx-mecha{
    display: flex;
    position: absolute;
    top: 1430px;
    left: 900px;
    color: rgba(255, 255, 255, 0.545);
}

.star-guardien {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 1550px;
    left: 100px;
}

.tx-star-guardien{
    display: flex;
    position: absolute;
    top: 1780px;
    left: 100px;
    color: rgba(255, 255, 255, 0.545);
}

.blood-moon {
    display: flex;
    position: absolute;
    width: 500px;
    height: 220px;
    top: 1550px;
    left: 900px;
}

.tx-blood-moon{
    display: flex;
    position: absolute;
    top: 1780px;
    left: 900px;
    color: rgba(255, 255, 255, 0.545);
}

.end-skin {
    display: flex;
    position: absolute;
    top: 1850px;
    left: 500px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);

}

/*-----------------------------------------------------------build------------------------------------------------------------*/

.p1{
    display: flex;
    position: absolute;
    top: 150px;
    left: 200px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}

.chien{
    display: flex;
    position: absolute;
    top: 250px;
    left: 100px;
}

.liandry{
    display: flex;
    position: absolute;
    top: 250px;
    left: 300px;
}

.chaussures{
    display: flex;
    position: absolute;
    top: 250px;
    left: 500px;
}

.flamme-ombre{
    display: flex;
    position: absolute;
    top: 250px;
    left: 700px; 
}

.mejai{
    display: flex;
    position: absolute;
    top: 250px;
    left: 900px;
}

.rabadon{
    display: flex;
    position: absolute;
    top: 250px;
    left: 1100px;
}

.zhonia{
    display: flex;
    position: absolute;
    top: 250px;
    left: 1300px;
}

.p2{
    display: flex;
    position: absolute;
    top: 350px;
    left: 100px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}

.p3{
    display: flex;
    position: absolute;
    top: 500px;
    left: 200px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}

.anneau{
    display: flex;
    position: absolute;
    top: 600px;
    left: 100px;
}

.liandry2{
    display: flex;
    position: absolute;
    top: 600px;
    left: 300px;
}

.masque{
    display: flex;
    position: absolute;
    top: 600px;
    left: 500px;
    height: 65px;
    width: 65px;
}

.despair{
    display: flex;
    position: absolute;
    top: 600px;
    left: 700px;
    height: 65px;
    width: 65px;
}

.zhonia2{
    display: flex;
    position: absolute;
    top: 600px;
    left: 900px;
}

.riftmaker{
    display: flex;
    position: absolute;
    top: 600px;
    left: 1100px;
    height: 65px;
    width: 65px;
}

.warmog{
    display: flex;
    position: absolute;
    top: 600px;
    left: 1300px;
    height: 65px;
    width: 65px;
}

.p4{
    display: flex;
    position: absolute;
    top: 700px;
    left: 100px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}

.p5{
    display: flex;
    position: absolute;
    top: 800px;
    left: 100px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}

.p6{
    display: flex;
    position: absolute;
    top: 1000px;
    left: 100px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}

.runes_jgl{
    display: flex;
    position: absolute;
    top: 1050px;
    left: 100px;
}

.p7{
    display: flex;
    position: absolute;
    top: 1750px;
    left: 100px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545); 
}

.runes_top{
    display: flex;
    position: absolute;
    top: 1800px;
    left: 100px;
}

/*----------------------------------------------------A propos de moi----------------------------------------------------------*/

.phrase_acroche{
    display: flex;
    position: absolute;
    top: 150px;
    left: 100px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545); 
}

.pre1{
    display: flex;
    position: absolute;
    top: 720px;
    left: 100px;
    font-family: "EB Garamond", serif;
    color: rgba(255, 255, 255, 0.545);
}
 .temps{
    display: flex;
    position: absolute;
    top: 210px;
    left: 100px;
    height: 500px;
    width: 500px;
 }
/* Media query pour les tablettes */
@media screen and (max-width: 1024px) {
    header {
        padding: 2% 4%;
    }

    ul {
        left: 50%;
        transform: translateX(-50%);
    }

    .titre {
        font-size: 30px;
    }

    .presentation, .lore, .compétences {
        padding: 5px 40px;
    }

    .presentation h2, .lore h1 {
        font-size: 40px;
    }

    .presentation p, .lore p, .compétences p {
        max-width: 100%;
    }

    /* Ajustements pour les éléments en positionnement fixe ou absolu */
    .video, .image, .menu, 
    .img-passif, .video-passif, .img-q, .video-q, .img-w, .video-w, 
    .img-e, .video-e, .img-r, .video-r,
    .tp, .top, .smite, .jgl, .flash, .flash2,
    .video-clear, .explication, .description-clear, .carapateur,
    .spectral, .anglais, .citrouille, .pirate, .clown, .noel, .egypte, .mecha, .star-guardien, .blood-moon,
    .chien, .liandry, .chaussures, .flamme-ombre, .mejai, .rabadon, .zhonia,
    .anneau, .liandry2, .masque, .despair, .zhonia2, .riftmaker, .warmog,
    .runes_jgl, .runes_top, .temps {
        position: static;
        transform: none;
        left: auto;
        top: auto;
    }

    /* Ajustements spécifiques pour les images et vidéos */
    .video-clear {
        width: 100%;
        height: auto;
    }

    /* Ajustement pour le menu */
    .menu {
        flex-direction: column;
        align-items: center;
    }
    .menu li {
        margin-bottom: 10px;
    }


