header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2% 6%;
}

body {
    background-color: rgb(0, 0, 0);
}

.titre {
    font-size: 40px;
    font-weight: 500;
    font-family: "EB Garamond", serif;
}

.titre span {
    color:rgba(255, 255, 255, 0.545);
}

ul {
    display: flex;
    position: absolute;
    left: 800px;
    font-family: "EB Garamond", serif;
}

ul li {
    padding: 8px 12px;
    list-style: none;
}

ul li a {
    color:rgba(255, 255, 255, 0.545);
    text-decoration: none;
    font-size: 18px;
    transition: 0.5s;
}

ul li a:hover {
    color: rgba(125, 2, 2, 0.916);
    border-bottom: 2px solid
}

ul li:last-child a:hover {
    color: rgba(125, 2, 2, 0.916);
    border-bottom: none;
}

.presentation {
    padding: 5px 80px;
    color: rgba(255, 255, 255, 0.545);
    font-family: "EB Garamond", serif;
}

.presentation span {
    color:rgba(255, 255, 255, 0.545) ;
}

.presentation h2 {
    font-size: 50px;

}

.presentation p {
    max-width: 45%;
    margin: 20px 0;
}

.video {
    display: flex;
    position: absolute;
    top: 200px;
    left: 750px;
    position: fixed;
}

.argument{
    color: rgba(125, 2, 2, 0.916);
    font-family: "EB Garamond", serif;
}

/*----------------------------------------------------------------css pour la page lore-------------------------------------------------------*/ 

.lore {
    padding: 5px 80px;
    color: rgba(255, 255, 255, 0.545);
    font-family: "EB Garamond", serif;
}

.lore span {
    color:rgba(255, 255, 255, 0.545) ;
}

.lore h1 {
    font-size: 50px;

}

.lore p {
    max-width: 45%;
    margin: 20px 0;
}

.argument{
    color: rgba(125, 2, 2, 0.916);
    font-family: "EB Garamond", serif;
}
.image {
    display: flex;
    position: absolute;
    top: 200px;
    left: 650px;
    position: fixed;
}

/*-------------------------------------------------------------css pour les compétences-----------------------------------------------------*/

.compétences {
    padding: 5px 80px;
    color: rgba(255, 255, 255, 0.545);
    font-family: "EB Garamond", serif;
}

.compétences span {
    color:rgba(255, 255, 255, 0.545) ;
}

.compétences p {
    max-width: 45%;
    margin: 20px 0;
}

.img-passif{
    display: flex;
    position: absolute;
    top: 230px;
    left:10px;
}

.video-passif{
    display: flex;
    position: absolute;
    top: 300px;
    left: 25px;
    width: 500px;
    height: 250px;
}

.img-q{
    display: flex;
    position: absolute;
    top: 610px;
    left:10px;
}

.video-q{
    display: flex;
    position: absolute;
    top: 720px;
    left:10px;
    width: 500px;
    height: 250px;
}